body{
    font-family: "Lato", sans-serif;
    margin:0px;
}
.nav-wrapper {
  margin-top:0px;
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  font-family: 'Sriracha', cursive;
  height:105px;
  
}
.dropbtn {
  margin-top:0px;
  background-color: #101010;
  color: #8a8a8a;
 
 
  border: none;
  text-transform: uppercase;
  font-size: 1.0rem;
  margin-bottom:12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-transform: none;
  font-family: 'Acme', sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #606060;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #101010;}

.right-side {
  display: flex;
padding: 50px;}
.left-side{
  margin-top:0px;
}
.brand> img{
margin-top:0px;
margin-left:50px;
margin-bottom:10px;
padding-top: 0px;


}
.nav-wrapper > .right-side > div {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 1.0rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid white;
}

.active-nav-link a {
  color: white !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
  color: white;
}

